{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Solusindo Total Teknikatama<br />
    The City Tower, 12th floor<br />
    Jalan MH Thamrin No. 81<br />
    Jakarta 10310<br />

    <abbr title="Phone">P:</abbr>
    62-21-3049 7504
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@stt.co.id">Support@stt.co.id</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@stt.co.id">Marketing@stt.co.id</a>
</address>

{% endblock %}
