{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cik Ditiro Residence</h1>
    <p class="lead">Aplikasi untuk tagihan dan rekonsiliasi pembayaran unit Apartment.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Lanjutkan &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Persiapan Tagihan</h2>
        <p>
            Persiapan membuat tagihan. Mencatat meter air dan listrik. Membuat perhitungan tagihan. Mengelola parameter dan tarif. Mengelola database utilisasi air dan listrik.
 
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Lanjutkan &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rekonsiliasi Pembayaran</h2>
        <p>Mengambil data transaksi rekening bank. Mengolah dan mencari data pembayar. Mempersiapkan Resi Pembayaran.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Lanjutkan &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tagihan dan Pembayaran</h2>
        <p>Membuat tagihan. Membuat resi pembayaran. Membuat laporan piutang.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Lanjutkan &raquo;</a></p>
    </div>
</div>

{% endblock %}
